.head-box{
	width: 100%;
	background-image: url(../img/sys/head_background.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size: 100% 100%;
}
.main_page{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.user-main-activity{
	width: 80%;
	height: 70px;
	display: flex;
	flex-direction: row;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 2px;
}
.user-main-icon-box{
	position: relative;
	top: -50px;
	left: 20px;
}

.user-main-icon{
	width: 100%;
	height: auto;
}

.user-main-icon img{
	width: 90px;
	height: 90px;
	border-radius: 50%;
}
.user-main-info-body{
	margin-left: 5px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;

}
.user-main-info{
	width: 100%;
	height: 100%;
	margin-left: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	
}
.user-main-info-name-box{
	height: 100%;
	padding: 10px;
}
.user-info-name{
	font-weight: 600;
	font-size: 20px;
}
.user-info-tag{
	font-size: 15px;
	font-weight: 600;
	color: rgba(0,0,0,.6);
}


.user-main-info-link{
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.user-info-ico{
	width: auto;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 10px;
}
.user-info-ico img{
	height: 35px;
	width: 35px;
}
.user-info-text-box{
	width: 100%;
	display: flex;
	flex-direction: row;
}
.user-info-item{
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.user-info-text{
	height: 50%;
	padding: 2px;
	line-height: 14px;
	font-size: 12px;
	color: #99a2aa;
}
.user-info-number{
	height: 50%;
    color: #222;
    font-size: 15px;
}

















/* 用户头像特效 */
.outer-circle {
	position: relative;
	height: 100px;
	width:100px;
	background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
	border-radius: 50%;
	animation: rotate 1.5s linear infinite;
  }
  
  .outer-circle span {
	position: absolute;
	height: 100px;
	width: 100px;
	background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
	border-radius: 50%;
  }
  
  span:nth-child(1) {
	filter: blur(5px);
  }
  
  span:nth-child(2) {
	filter: blur(10px);
  }
  
  span:nth-child(3) {
	filter: blur(25px);
  }
  
  span:nth-child(4) {
	filter: blur(150px);
  }
  
  .inner-circle {
	height: 90px;
	width: 90px;
	position: absolute;
	background: black;
	top: 5px;
	left: 5px;
	border-radius: 50%;
	z-index: 9;
  }
  
  @keyframes rotate {
	0% {
	  filter: hue-rotate(0deg);
	}
	100% {
	  filter: hue-rotate(360deg);
	}
  }

