.head-box{
	width: 100%;
	background-image: url(../img/sys/head_background.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size: 100% 100%;
}
.main_page{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}